@layout.doc({ title: 'Test' })
  <article
    class="prose prose-invert prose-headings:scroll-mt-28 prose-pre:px-0 prose-a:rounded-sm prose-a:transition hover:prose-a:text-gray-300 focus:prose-a:outline-none focus-visible:prose-a:ring-2 focus-visible:prose-a:ring-pink-400/50 lg:max-w-prose"
  >
    {{{ content }}}
  </article>
@end
